html, body, div, span, applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  my styles */
:root {
    background-color: rgb(239, 245, 250);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Norse-bold;
    src: url(/font/Norse-Bold.otf);
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input,
textarea,
select,
button {
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div:first-child {}

h1 {
    width: 55ch;
    font-size: 30px;
    font-weight: bold;
}

/* -------------FORM-------- */
form {
    background-color: rgb(255, 255, 255);
    height: 350px;
    width: auto;
    padding-left: 10%;
}

form h1 {
    padding: 3% 0 5% 0;
}

#content {
    width: auto;
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 55ch;
}

.name {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.contact {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.pass {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

input {
    margin-right: 3%;
    border: solid #E5E7EB 2px;
    border-radius: 5px;
    margin: 0 5rem 5rem 0;
    width: 18rem;
    height: 2.5rem;
}

input:focus {
    border: solid rgb(0, 60, 172) 2px;
    border-radius: 5px;
    outline: none;
    box-shadow: 3px 3px .4em #00000048;
}

.name,
.contact,
.pass {
    position: relative;
    height: 90px;
}

.name label,
.contact label,
.pass label {
    position: absolute;
    font-weight: bold;
    color: rgb(92, 92, 92);
    top: -18px !important;
}

#submit {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: 25px;
    height: 4.5rem;
    width: 18rem;
    border-radius: 15px;
    margin: 45px 60px;
}

.reg_text   {
    font-size: x-large;
    font-weight: bold;
    color: rgb(63, 63, 63);
    margin-left: 60px;
}

a   {
    color: #596D48;
}
/* images */

div {
    width: 860px;
    position: relative;
}

div img {
    width: 100%;
}

.odin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.39);
}

.odin img {
    width: 130px;
    padding: 20px 0px;
}

#norse  {
    font-family: Norse-Bold;
    font-size: 700%;
    color: white;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: auto;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
}